day-04-json-inventory/__pycache__/reader.cpython-314.pyc
day-04-json-inventory/__pycache__/report.cpython-314.pyc
day-04-json-inventory/__pycache__/transformer.cpython-314.pyc
day-04-json-inventory/__pycache__/utils.cpython-314.pyc
day-04-json-inventory/output/inventory_report.json
